html, body {
	height: 100%;
}
body {
	background-color: rgb(189, 189, 202);
	background-repeat: no-repeat;
	margin: 0
	}
#profile img {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	left: 5px;
	right:5px;
	display: block;
	width: 350px;
	height: 450px;	
}
h1 {
	font-size: 200%;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	text-align: center;
	color:midnightblue;
}
h2 {
	color: darkslategrey;
	text-align: center;
}

#bttn-about {
	width: 34%;
	border-start-start-radius: 100%;
}
#bttn-cont {
	border-start-end-radius: 100%;
}
.menu-button {
	background-color: rgb(5, 180, 180);/*0,128,128*/
	float: inline-start;
	border: none;
	color: white;
	padding: 25px;
	text-align: center;
	width: 33%;
	
	font-size: 32px;
	cursor: pointer;
	vertical-align: top;
}
.dates{
	float: right;
}

.menu-button:hover{
	background-color: rgb(4, 160, 160);
	outline: none;
}

.menu-button:focus{
	background: rgb(4, 160, 160);
	background-color: rgb(4, 160, 160);
	outline: none;
	-moz-user-select: toggle;
	box-shadow: inset 0px 0px 5px rgb(4, 19, 46);  
	-webkit-box-shadow: inset 0px 0px 5px rgb(4, 19, 46);
    -moz-box-shadow: inset 0px 0px 5px rgb(4, 19, 46);
    
}

.clear {
	clear: both;
}
div.menu-items{
	background-color: rgb(4, 160, 160);
	display: inline-block;
	color: ivory;
	font-size: 30px;
	padding-inline: 10%;
	padding-top: 2.5%;
	padding-bottom: 2.5%;
}

.menu-item {
	display: none;
}
#about{
	display: inline-block;
	padding-inline: 2.5%;
	font-size: 25px;

}
#experience{
	font-size: 20px;
}

#contact{
	text-align: center;
}
.contact-item{
	float: right;
	text-align: center;
	margin:0 4px;
}
.contact-list{
	list-style-type: none;
	margin: auto;
}