html, body {
	height: 100%;
}
body {
	background-image: linear-gradient(45deg,yellow, blue);
	background-repeat: no-repeat;
	margin: 0
	}
#profile img {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: 10px;
	left: 5px;
	right:5px;
	display: block;
	width: 300px;
	height: 300px;	
	border-radius: 95%;
}

h1 {
	font-size: 200%;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	text-align: center;
	color:midnightblue;
}
h2 {
	color: darkslategrey;
	text-align: center;
}

#bttn-about {
	width: 34%;
	border-start-start-radius: 100%;
	border-right-style: solid;
	border-color: seagreen;
}
#bttn-cont {
	border-start-end-radius: 100%;
	border-left-style: solid;
	border-color: seagreen;
}
.menu-button {
	background-color: green;
	float: inline-start;
	border: none;
	color: white;
	padding: 25px;
	text-align: center;
	width: 33%;
	
	font-size: 32px;
	cursor: pointer;
	vertical-align: top;
}

.clear {
	clear: both;
}

.menu-item {
	display: none;
}