html, body {
	height: 100%;
}
body {
	background-color: rgb(189, 189, 202);
	background-repeat: no-repeat;
	margin: 0
	}
#profile img {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: 10px;
	left: 5px;
	right:5px;
	display: block;
	width: 300px;
	height: 300px;	
	border-radius: 95%;
}
h1 {
	font-size: 200%;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	text-align: center;
	color:midnightblue;
}
h2 {
	color: darkslategrey;
	text-align: center;
}

#bttn-about {
	width: 34%;
	border-start-start-radius: 100%;
}
#bttn-cont {
	border-start-end-radius: 100%;
	border-left-color: rgb(189, 189, 202);
}
.menu-button {
	background-color: rgb(5, 180, 180);/*0,128,128*/
	float: inline-start;
	border: none;
	color: white;
	padding: 25px;
	text-align: center;
	width: 33%;
	
	font-size: 32px;
	cursor: pointer;
	vertical-align: top;
}

.menu-button:focus{
	background: rgb(4, 160, 160);
	background-color: rgb(4, 160, 160);
	outline: none;
	-moz-user-select: toggle;
  	-webkit-box-shadow: inset 0px 0px 5px rgb(4, 19, 46);
    	-moz-box-shadow: inset 0px 0px 5px rgb(4, 19, 46);
        	box-shadow: inset 0px 0px 5px rgb(4, 19, 46);
}

.clear {
	clear: both;
}
.menu-item {
	display: none;
}